# =====================================================
# This is the {{ stack_name }} stack
# =====================================================

## Modern Data Platform Stack - List of Services

{% set __confluent_platform_version = confluent_platform_version | default('latest') -%}
{% set __zoonavigator_version = zoonavigator_version | default('latest') -%}
{% set __zoonavigator_api_version = zoonavigator_api_version | default('latest') -%}
{% set __ksql_db_version = ksql_db_version | default('latest') -%}
{% set __schema_registry_ui_version = schema_registry_ui_version | default('latest') -%}

{% set __kafka_connect_ui_version = kafka_connect_ui_version | default('latest') -%}
{% set __kafka_manager_version = kafka_manager_version | default('latest') -%}
{% set __kafka_kafdrop_version = kafka_kafdrop_version | default('latest') -%}
{% set __kafka_kadmin_version = kafka_kadmin_version | default('latest') -%}
{% set __kafka_kafkahq_version = kafka_kafkahq_version | default('latest') -%}
{% set __kafka_burrow_version = kafka_burrow_version | default('latest') -%}
{% set __kafka_burrow_ui_version = kafka_burrow_ui_version | default('latest') -%}
{% set __kafka_burrow_dashboard_version = kafka_burrow_dashboard_version | default('latest') -%}

{% set __tvd_hadoop_version = tvd_hadoop_version | default('latest') -%}

{% set __tvd_spark_version = tvd_spark_version | default('latest') -%}
{% set __tvd_spark_livy_version = tvd_spark_livy_version | default('latest') -%}

{% set __hive_version = hive_version | default('latest') -%}

{% set __tvd_atlas_verion = tvd_atlas_verion | default('latest') -%}

{% set __cassandra_version = cassandra_version | default('latest') -%}

{% set __elasticsearch_version = elasticsearch_version | default('latest') -%}
{% set __dejavu_version = dejavu_version | default('latest') -%}
{% set __cerebro_version = cerebro_version | default('latest') -%}
{% set __elasticsearchhq_version = elasticsearchhq_version | default('latest') -%}


{% set __amundsen_frontend_version = amundsen_frontend_version | default('latest') -%}
{% set __amundsen_search_version = amundsen_search_version | default('latest') -%}
{% set __amundsen_metadata_version = amundsen_metadata_version | default('latest') -%}

{% set __hue_version = hue_version | default('latest') -%}
{% set __hue_postgres_version = hue_postgres_version | default('latest') -%}

{% set __tvd_streamsets_version = tvd_streamsets_version | default('latest') -%}

{% set __nifi_version = nifi_version | default('latest') -%}

{% set __tvd_zeppelin_version = tvd_zeppelin_version | default('latest') -%}

{% set __jupyter_version = jupyter_version | default('latest') -%}

{% set __graphana_version = graphana_version | default('latest') -%}

{% set __kibana_version = kibana_version | default('latest') -%}

{% set __redis_version = redis_version | default('latest') -%}
{% set __redis_commander_version = redis_commander_version | default('latest') -%}

{% set __mongodb_version = mongodb_version | default('latest') -%}
{% set __mongo_express_version = mongo_express_version | default('latest') -%}
{% set __mongo_admin_version = mongo_admin_version | default('latest') -%}

{% set __solr_version = solr_version | default('latest') -%}

{% set __neo4j_version = neo4j_version | default('latest') -%}

{% set __tile38_version = tile38_version | default('latest') -%}

{% set __mysql_version = mysql_version | default('latest') -%}
{% set __postgres_version = postgres_version | default('latest') -%}
{% set __sqlserver_version = sqlserver_version | default('latest') -%}
{% set __adminer_version = adminer_version | default('latest') -%}

{% set __axon_version = axon_version | default('latest') -%}

{% set __mosquitto_version = mosquitto_version | default('latest') -%}
{% set __hivemq3_version = hivemq3_version | default('latest') -%}
{% set __hivemq_mqtt_web_client_version = hivemq_mqtt_web_client_version | default('latest') -%}
{% set __activemq_version = activemq_version | default('latest') -%}

{% set __ftp_pureftpd_version = ftp_pureftpd_version | default('latest') -%}
{% set __ftp_filezilla_version = ftp_filezilla_version | default('latest') -%}

{% set __minio_version = minio_version | default('latest') -%}
{% set __awscli_version = awscli_version | default('latest') -%}
{% set __portainer_version = portainer_version | default('latest') %}


Service          |  Image Tag  | Url
------------- | ----------|----------------
{% if ZOOKEEPER_enabled | default(false) %}
  {% for num in range(ZOOKEEPER_nodes | default('1') ) %}
zookeeper-{{loop.index}}     |  {{__confluent_platform_version}}         | -
  {% endfor %}
zoonavigator  | {{__zoonavigator_version}} | http://analyticsplatform:28047
zoonavigator-api  | {{__zoonavigator_api_version}} | http://analyticsplatform:28048
{% endif %}   {# ZOOKEEPER_enabled #}
{% if KAFKA_enabled | default(false) %}
  {% for num in range(KAFKA_nodes | default('1') ) %}
broker-{{loop.index}}     |  {{__confluent_platform_version}}         | -
  {% endfor %}
{% endif %}   {# KAFKA_enabled #}
{% if ( KAFKA_enabled and KAFKA_schema_registry_enabled ) | default(false) %}
  {% for num in range(KAFKA_schema_registry_nodes | default(1) ) %}
    {% set external_port = 28030 + loop.index - 1 %}
    {% set port = 8081 + loop.index - 1 %}
schema-registry-{{loop.index}}  |  {{__confluent_platform_version}}         | -
  {% endfor %}
{% endif %}   {# KAFKA_enabled and KAFKA_schema_registry_enabled #}
