organization:
  name: "${ORGANISATION_NAME}"

admin:
  email: "${ADMIN_EMAIL}"
  password: "${ADMIN_PSW}"
  
clusters:
  - id: default
    name: Local Kafka Cluster
    color: "#0013E7"
    ignoreUntrustedCertificate: false
    bootstrapServers: "${KAFKA_BOOTSTRAP_SERVER:-localhost:9092}"
    properties: |
      client.id=conduktor
      default.api.timeout.ms=5000
      request.timeout.ms=5000
      security.protocol="${KAFKA_SECURITY_PROTOCOL:-PLAINTEXT}"
      sasl.mechanism="${KAFKA_SASL_MECHANISM:-PLAIN}"
      sasl.jaas.config="${KAFKA_SASL_JAAS_CONFIG:-}"
    schemaRegistry:
      url: "${SCHEMA_REGISTRY_URL:-http://localhost:8081}"
      ignoreUntrustedCertificate: false
      properties:
    kafkaConnects:
      - url: "${KAFKA_CONNECT_URL:-http://localhost:8083}"
        id: kafka-connect
        name: Local Kafka Connect Cluster      

    labels:
      env: default

license: ${LICENSE_KEY:-~} # Fallback to null (~)
