# {{platys['platform-name']}}

| Platform Stack | Platform Stack Version | Public IP | Docker-Host IP
|-------------- |------|------------|------------
| [ {{platys['platform-stack']}} ](https://hub.docker.com/repository/docker/{{platys['platform-stack']}}) | {{platys['platform-stack-version']}} | {{environ('PUBLIC_IP')}} | {{environ('DOCKER_HOST_IP')}}


This environment has been generated using the [Platys](http://github.com/trivadispf/platys) toolkit.

All available services are [listed here](services).

The configuration options can be [found here](configuration).
