# List of Services

| Service Name | Web UI | Rest API |
|-------------- |------|------------
{%- for service in services.items() | sort() %}
| {{ service[0] }}|
  {%- if service[1].labels -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.webui.title' -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.webui.url' -%}
      {%- if environ('USE_PUBLIC_IP') == 'True' -%}
 <{{ value | replace ('${PUBLIC_IP}', environ('PUBLIC_IP'))}}>
      {%- else -%}
 <{{ value | replace ('${PUBLIC_IP}', environ('DOCKER_HOST_IP'))}}>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.restapi.title' -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.restapi.url' -%}
      {%- if environ('USE_PUBLIC_IP') == 'True' -%}
| <{{ value | replace ('${PUBLIC_IP}', environ('PUBLIC_IP'))}}>
      {%- else -%}
| <{{ value | replace ('${PUBLIC_IP}', environ('DOCKER_HOST_IP'))}}>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
 {%- endif -%}
{%- endfor -%}
