# Services
| service name | UI | URL |
|-------------- |------|------------
{%- for service in services.items() | sort() %}
| {{ service[0] }}
  {%- if service[1].labels -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'platys.webui.title' -%}
| {{value}}
    {%- endif -%}
    {%- if label == 'platys.webui.url' -%}
| <{{ value | replace ('${PUBLIC_IP}', environ('PUBLIC_IP'))}}>
    {%- endif -%}
  {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
