trinoLb:
  externalAddress: ${TRINO_LB_SCHEME}://${TRINO_LB_EXTERNAL_IP}:${TRINO_LB_PORT}
  # When you enable authentication trino-clients enforce https encryption
  tls:
    enabled: false
    #certPemFile: /self-signed-certs/cert.pem
    #keyPemFile: /self-signed-certs/key.pem
  # Use in-memory persistence which will loose all queued running queries on restart
  persistence:
    inMemory: {}
  #persistence:
  #  redis:
  #    endpoint: redis://:redis@redis-1:6379/ 
  #  redis:
  #    clusterMode: true
  #    endpoint: redis://:redis@trino-lb-redis-cluster.trino-lb.svc.cluster.local:6379/
  # postgres:
  #   # helm install postgres bitnami/postgresql --version 13.2.18 --set auth.username=trino-lb,auth.password=trino-lb,auth.database=trino_lb
  #   url: postgres://trino-lb:trino-lb@postgres-postgresql.default.svc.cluster.local/trino_lb
  #   maxConnections: 10

  refreshQueryCounterInterval: 30s # It is low for testing purpose and to get frequent running queries metrics
  
  tracing:
    enabled: ${TRINO_LB_TRACING_ENABLED}
    # helm install jaeger jaegertracing/jaeger --set 'collector.service.otlp.grpc.name=otlp-grpc,collector.service.otlp.grpc.port=4317,collector.service.otlp.http.name=otlp-http,collector.service.otlp.http.port=4318'
    #OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger-collector.default.svc.cluster.local:4317
    #OTEL_EXPORTER_OTLP_PROTOCOL: Grpc
    # In case endpoint and protocol are not set here, they will still be read from the env vars
    # OTEL_EXPORTER_OTLP_ENDPOINT and OTEL_EXPORTER_OTLP_PROTOCOL
  
  ports:
    # Default values
    http: 8080
    https: 8443
    metrics: 9090

trinoClusterGroups:
  default:
    # Once a cluster has more running queries than this no further queries will be send to it
    # They will be queued in trino-lb instead
    maxRunningQueries: 1
    trinoClusters:
      - name: trino-default-1
        endpoint: http://trino-1:8080
        credentials:
          username: trino
          password: 
# Your Trino probably does not have a globally trusted certificate
trinoClusterGroupsIgnoreCert: true

# Route all queries to the "default" cluster group
routers: []
routingFallback: default