# {{environ('PLATYS_PLATFORM_NAME')}}

| Platform Stack | Platform Stack Version | Public IP | Docker-Host IP
|-------------- |------|------------|------------
| [ {{environ('PLATYS_PLATFORM_STACK')}} ](https://hub.docker.com/repository/docker/{{environ('PLATYS_PLATFORM_STACK')}}) | {{environ('PLATYS_PLATFORM_STACK_VERSION')}} | {{environ('PUBLIC_IP')}} | {{environ('DOCKER_HOST_IP')}}

This environment has been generated using the [Platys](http://github.com/trivadispf/platys) toolkit.

All available services which are part of the platform are [listed here](services).

To learn more about `platys`-generated stacks, you can either follow the various [tutorials](./tutorials/README) with detailed instructions and/or one of the more specific [cookbook recipes](./cookbooks/README).

Documentation of the platform stack can be [found here](README).

[Read here](./documentation/configuration) about the various configuration options.
