# {{environ('PLATYS_PLATFORM_NAME')}} - List of Services

| Service Name | Web UI | Rest API |
|-------------- |------|------------
{%- for service in services.items() | sort() %}
{%- if service[1].init is not defined %}
| {%- if service[1].labels and service[1].labels['com.platys.name'] is defined -%} [{{ service[0]}}](./documentation/services/{{service[1].labels['com.platys.name'] }} ) {%- else -%} {{ service[0]}} {%- endif -%}  |
  {%- if service[1].labels -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.webui.title' -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.webui.url' -%}
      {%- if environ('USE_PUBLIC_IP') == 'True' -%}
 <{{ value | replace ('dataplatform', environ('PUBLIC_IP'))}}>
      {%- else -%}
 <{{ value | replace ('dataplatform', environ('DOCKER_HOST_IP'))}}>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.restapi.title' -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for label,value in service[1].labels.items() -%}
    {%- if label == 'com.platys.restapi.url' -%}
      {%- if environ('USE_PUBLIC_IP') == 'True' -%}
| <{{ value | replace ('dataplatform', environ('PUBLIC_IP'))}}>
      {%- else -%}
| <{{ value | replace ('dataplatform', environ('DOCKER_HOST_IP'))}}>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
 {%- endif -%}
{%- endif -%} 
{%- endfor -%} |

**Note:** init container ("init: true") are not shown