#!/bin/sh

{% for service in services.items() | sort() %}
 {%- if service[1].init is not defined %}
cp -r /opt/mdps-gen/static-data/**/{%- if service[1].labels and service[1].labels['com.platys.name'] is defined -%} {{ service[1].labels['com.platys.name'] }}
 {%- endif -%}{{' '}}/opt/mdps-gen/destination
 {%- endif -%} 
{% endfor %}