#!/bin/sh

SOURCE_BASE_DIR="/opt/mdps-gen/static-data"
DEST_DIR="/opt/mdps-gen/destination"

{% for service in services.items() | sort() %}
 {%- if service[1].init is not defined %}
find "$SOURCE_BASE_DIR" -type d -name "{%- if service[1].labels and service[1].labels['com.platys.name'] is defined -%} {{ service[1].labels['com.platys.name'] }}" | while read -r dir; do
  cp -r "$dir" "$DEST_DIR"
done
 {%- endif -%}
 {%- endif -%} 
{% endfor -%}

