{% for service in services.items() | sort() %}
 {%- if service[1].init is not defined %}
{%- if service[1].labels and service[1].labels['com.platys.password.envvars'] is defined -%} {% for var in service[1].labels['com.platys.password.envvars'].split(',') %}
 {{-var}} = $(pwgen 12 1)
{% endfor %}
 {%- endif -%}  
{%- endif -%}  
{% endfor %}