OBJECT_STORAGE_ACCESS_KEY=V42FCGRVMK24JJ8DHUYG
OBJECT_STORAGE_SECRET_KEY=bKhWxVF3kQoLY9kFmt91l+tDrEoZjqnWXzY9Eza

PUBLIC_IP=18.194.240.41
DOCKER_HOST_IP=172.26.15.245

PLATYS_AKHQ_ADMIN_PASSWORD=
PLATYS_AKHQ_READER_PASSWORD=
PLATYS_DATAHUB_PASSWORD=

PLATYS_AWS_ACCESS_KEY_ID=
PLATYS_AWS_SECRET_ACCESS_KEY=

PLATYS_SHADOW_TRAFFIC_LICENSE_ID=
PLATYS_SHADOW_TRAFFIC_LICENSE_EMAIL=
PLATYS_SHADOW_TRAFFIC_LICENSE_ORGANIZATION=
PLATYS_SHADOW_TRAFFIC_LICENSE_EDITION=
PLATYS_SHADOW_TRAFFIC_LICENSE_EXPIRATION=
PLATYS_SHADOW_TRAFFIC_LICENSE_SIGNATURE=
